---
import { Image } from "astro:assets";
import Contact from "../general/Contact.astro";
import PageLanding from "../general/PageLanding.astro";
import Anim from "./anim.astro";
import Team from "./Team.astro";
import { getCollection } from "astro:content";
import Achievements from "../main/Achievements.astro";

const loadedTeam = await getCollection("team");

const team = loadedTeam.sort((p, p2) => p.data.order - p2.data.order);
---

<div class="container">
  <div class="bg"></div>
  <img class="m" src="/u1.png" alt="Gradient" />
  <img class="m" src="/subsites/effect.webp" alt="DNS" />
  <img class="m" id="dns" src="/subsites/dns.webp" alt="DNS" />
  <main>
    <PageLanding
      alternate
      subText="Két különböző karakter,"
      header1="egy közös"
      header2="nevező."
      text={`Ez a mondat írja le legpontosabban a Credo DNS-ét. Alapítóink a szakma eltérő pólusairól érkeztek, de a céljuk azonos volt: választ adni a marketing klisékre, a túlhasznált panelekre és a futószalagon érkező, középszerű ötletekre. <br/> Úgy döntöttek, másképp csinálják.`}
    />
    <div class="leaders">
      <img class="lead" src="/rolunk1.png" alt="leader" />
      <img class="lead" src="/rolunk2.png" alt="leader" />
    </div>
    <div class="people">
      {
        team.map((person) => (
          <div class="personcard">
            <div class="box">
              <Image
                alt={"Person Image"}
                src={person.data["picture"]}
                layout="constrained"
              />
            </div>
            <p class="name">{person.data.name}</p>
            <p class="role">{person.data.role}</p>
          </div>
        ))
      }
    </div>
  </main>

  <!--   <img class="quote" src="/illustrations/quote.svg" alt="quote" /> -->
  <div class="second">
    <div class="domecont">
      <div class="dome">
        <img class="domeimg" src="/illustrations/dom_base.svg" alt="dome" />
        <Anim />
      </div>
    </div>
    <div class="righttext">
      <p class="p1">Nem hiszünk a varázspirulákban.</p>
      <p class="p2">
        Munkamódszerünk egyet jelent az értékalapú, transzparens marketinggel.
        Szegedi alapítású, integrált ügynökségként olyan nézőpont szerint
        alakítjuk folyamatainkat, ahol nincsenek dobozos megoldások. Minden
        márkára individuális, fenntartható, illetve skálázható stratégiát
        építünk, ami mögé egy összeszokott szakértői csapat sorakozik fel.
      </p>
      <br />
    </div>
  </div>
  <div class="third">
    <div class="puzzle">
      <Team />
    </div>
    <p class="righttext lasttext">
      <span class="p1">
        A modern marketing túl komplex ahhoz, hogy egyetlen ember a kezében
        tartsa.</span
      >
      <br />
      <br /> Bár egy kimagasló játékos sokat számít, ha bajnokságot akarsz nyerni,
      egy összeszokott csapatra van szükséged. Mi ezt a hátországot biztosítjuk. Olyan
      tapasztalt szakértői gárdát adunk a kezed alá, akik a szakma minden oldalát
      ismerik, és tudásukat arra használják, hogy kézzelfogható segítséget nyújtsanak,
      a hazai KKV-szektortól a nagyvállalati partnerekig. <br /><br />
      <br />
      <span class="p1"> Stratégiai élesség, kreatív lendület. </span><br /><br
      /> Akár most kezded a történeted, akár már hosszú évek óta formálod a vállalkozásod,
      mi nem egy külső beszállítóként, hanem a belső csapatod meghosszabbított kezeként
      szállunk be a munkába.
    </p>
  </div>
</div>
<Achievements />

<Contact />

<script>
  const isScreenSmall = window.innerHeight < 800;
  // Trigger SVG animations when they come into view
  const svgs = document.querySelector("#Layer_3") as HTMLElement;

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("start");
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: isScreenSmall ? 0.1 : 0.6,
    },
  );

  observer.observe(svgs);

  // Trigger SVG animations when they come into view
  const svgs2 = document.querySelector("#Lay") as HTMLElement;

  const observer2 = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("start");
          observer2.unobserve(entry.target);
        }
      });
    },
    {
      threshold: isScreenSmall ? 0.3 : 0.6,
    },
  );

  observer2.observe(svgs2);

  const parallaxDNS = document.getElementById("dns");

  if (window.innerWidth > 768) {
    document.addEventListener("mousemove", (e) => {
      const xPos = (e.clientX / window.innerWidth - 0.5) * 20;
      const yPos = (e.clientY / window.innerHeight - 0.5) * 20;

      if (parallaxDNS) {
        parallaxDNS.style.transform = `translateX(-0%) translate(${xPos}px, ${yPos}px)`;
      }
    });
  }
</script>

<style>
  /* body {
    overflow-x: hidden;
    overscroll-behavior: none;
  }
 */
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
    -webkit-user-select: none;
  }

  .container {
    height: 100%;
    width: 100vw;
    display: relative;
    overflow-x: hidden;
    padding-top: 6rem;
    scrollbar-gutter: stable;
  }

  .bg {
    background-image: url("/gradient__background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  /*   .aboutmain {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: start;
    margin-left: 20vw;
    margin-top: 150px;
    color: white;
    width: 500px;
    height: 100%;
  } */

  .leaders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
    gap: 80px;
    margin-top: 100px;
  }
  .lead {
    max-width: calc((100% - 80px) / 2);
    width: 100%;
    height: auto;
  }
  .people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
  }

  .box {
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 380px;
    overflow: hidden;
  }
  .box img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    height: 380px;
    min-height: 0;
    flex-shrink: 0;
  }
  .name {
    margin-left: 4px;
    font-family: "AktivGrotesk Light";
    font-size: var(--text-lg);
    text-transform: uppercase;
    line-height: 35px;
    color: white;
    border-bottom: 1px solid #dbe120;
    margin-bottom: 0;
    padding-bottom: 5px;
    display: inline-block;
  }
  .role {
    margin-top: 0;
    margin-left: 4px;
    padding-top: 5px;
    font-family: "AktivGrotesk Light";
    font-size: var(--text-md);
    text-transform: uppercase;
    line-height: 35px;
    color: white;
  }
  .m {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
  }

  #dns {
    height: 100vh;
    width: auto;
    position: absolute;
    top: -1vh;
    left: auto;
    right: 0;
  }

  h1 {
    font-family: "Kepler";
    font-size: var(--header-xl);
    letter-spacing: -5px;
    font-weight: 400;
    margin: 0;
    line-height: 100px;
  }
  .sub {
    font-family: "AktivGrotesk Light";
    font-size: 1.333rem;
    text-transform: uppercase;
    line-height: 35px;
  }
  .sub span {
    font-family: "AktivGrotesk Medium" !important;
  }
  .info {
    font-family: "AktivGrotesk Light";
    font-size: var(--text-lg);
    line-height: 35px;
  }
  .quote {
    position: absolute;
    right: 8%;
    top: 15%;
    font-family: "Kepler";
    /*  font-size: 2000pt; */
    width: 900px;
    line-height: 5px;
    margin: 0;
    font-weight: 400;
    margin: 0;
    z-index: 40;
    color: white;
    opacity: 0.5;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .second {
    height: 100%;
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 40;
    margin-top: 30px;
    justify-content: center;
    align-items: end;
    /*  margin-bottom: 100px; */
  }
  .third {
    height: 100%;
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    place-items: center;
    justify-content: center;
    z-index: 40;
    margin-top: 200px;
    margin-bottom: 100px;
    gap: 100px;
  }
  .domecont {
    width: 50%;
  }
  .righttext {
    font-family: "AktivGrotesk Light";
    font-size: var(--text-lg);
    line-height: 35px;
    color: white;
    width: 50%;
  }
  .p1 {
    text-transform: uppercase;
    font-family: "AktivGrotesk Medium";
  }
  .puzzle {
    position: relative;
    width: 50%;
    height: 600px;
    padding-top: 150px;
  }
  .dome {
    position: relative;
    height: 600px;
    padding-left: 0px;
    padding-top: 100px;
  }
  .domeimg {
    height: 700px;
  }
  .anim {
    position: absolute;
    left: 300px;
    top: 100px;
    height: 700px;
  }

  @media (max-width: 1300px) {
    main {
      width: 100%;
      max-width: 1000px;
    }
    .second {
      width: 100%;
      max-width: 1000px;
    }
    .third {
      width: 100%;
      max-width: 1000px;
    }
    .righttext {
      margin-top: 300px;
      margin-left: 50px;
      width: 450px;
      font-size: var(--text-md);
    }
    .dome {
      padding-left: 50px;
    }
    .box {
      height: 303px;
    }
    .box img {
      height: 303px;
    }
    .name {
      font-size: var(--text-md);
    }

    .role {
      font-size: var(--text-base);
    }
  }

  @media (max-width: 1050px), (max-height: 800px) {
    main {
      width: 100%;
      max-width: 700px;
    }

    .dome {
      height: 600px;
      padding-top: 280px;
    }
    .third {
      gap: 50px;
      margin-top: 0px;
      margin-bottom: 0px;
      width: 100%;
      max-width: 700px;
    }
    .second {
      margin-top: 100px;
      width: 100%;
      max-width: 700px;
      align-items: center;
    }
    .puzzle {
      padding-right: 0px;
      padding-top: 300px;
      width: 30%;
    }
    .info {
      font-family: "AktivGrotesk Light";
      font-size: var(--text-md);
      line-height: 35px;
    }
    .domeimg {
      height: 500px;
    }
    .righttext {
      font-size: var(--text-base);
      line-height: 30px;
      width: 300px;
      margin-top: 0;
      line-height: 25px;
    }
    .lasttext {
      margin-left: 0;
    }
    .box {
      height: 210px;
    }
    .box img {
      height: 210px;
    }
    .name {
      font-size: var(--text-sm);
      padding-bottom: 0px;
    }
    .role {
      font-size: 0.55rem;
      padding-top: 0px;
    }
    .people {
      gap: 20px;
    }
    .dome {
      padding-top: 0;
    }
  }

  @media (max-width: 768px) {
    .leaders {
      flex-direction: column;
      gap: 0px;
      margin-top: 100px;
    }
    .lead {
      max-width: 80%;
      width: 80%;
    }
    .box {
      height: 310px;
      width: 100%;
    }
    .personcard {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .box img {
      width: 310px;
      height: 310px;
    }

    .people {
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;
      gap: 0px;
    }

    .name {
      font-size: var(--text-base);
      padding-bottom: 2px;
    }
    .role {
      font-size: 0.7rem;
      padding-top: 2px;
    }

    .name,
    .role {
      line-height: 1.6rem;
    }
    h1 {
      font-family: "Kepler";
      font-size: var(--header-md);
      letter-spacing: -5px;
      line-height: 100px;
    }
    .info {
      font-size: var(--text-base);
      line-height: 30px;
    }
    .second {
      margin-top: 100px;
      margin-bottom: 50px;
    }
    .sub {
      font-family: "AktivGrotesk Light";
      font-size: var(--text-md);
      text-transform: uppercase;
      line-height: 35px;
    }
    .quote {
      position: absolute;
      right: 0%;
      top: 15%;
      font-family: "Kepler";
      width: 500px;
      line-height: 5px;
      font-weight: 400;
    }
    .dome {
      height: 600px;
      padding-top: 0px;
      padding-left: 0vw;
    }

    .domeimg {
      height: 700px;
      opacity: 0.2;
      transform: translateX(-10%);
    }
    .righttext {
      font-family: "AktivGrotesk Light";
      font-size: var(--text-base);
      line-height: 30px;
      color: white;
      margin-top: 0px;
      width: 100vw;
      margin-right: 40px;
    }
    .domecont {
      width: 0%;
    }
    .third {
      flex-direction: column-reverse;
      gap: 40px;
      padding: 0px 40px;
      width: 75vw;
      height: 500px;
      margin-top: 400px;
      margin-bottom: 300px;
      justify-content: center;
      place-items: center;
    }
    .lasttext {
      margin: 0px !important;
      width: 100% !important;
    }
    .puzzle {
      padding-top: 0px;
      width: 70%;
      padding-right: 0px;
    }

    #dns {
      height: 100vh;
      top: 0vh;
      left: 2vw;
      width: 98vw;
      object-fit: cover;
      right: auto;
      opacity: 0.6;
      display: block;
    }
  }
  @media (max-width: 500px) {
    .box {
      height: 220px;
      width: 100%;
    }

    .box img {
      width: 220px;
      height: 220px;
    }
    .name {
      font-size: var(--text-sm);
      padding-bottom: 0px;
    }
    .role {
      font-size: 0.55rem;
      padding-top: 0px;
    }
  }
</style>
