---
import Contact from "../Contact.astro";
import Anim from "./anim.astro";
import Team from "./Team.astro";
---

<div class="container">
  <div class="bg"></div>
  <div class="aboutmain">
    <h1>rólunk</h1>
    <p class="sub">
      A Credo egyet jelent az <br /> értékalapú marketinggel. <br />
      <span>Nem hiszünk a varázspirulákban.</span>
    </p>
    <p class="info">
      Válaszként a marketing klisékre, a túlhasznált panelekre, a középszerű,
      futószalagon érkezett ötletekre… alapítóink úgy döntöttek, hogy másképp
      csinálják: <br />olyan rendszert építenek, ahol a stratégia az origó.
      Nálunk a kreativitás a kommerciális célok eszköze, a mérhető eredmény
      pedig az egyetlen elfogadható visszajelzés. Ezzel a szemlélettel dolgozunk
      ma minden partnerünk sikeréért.
    </p>
  </div>
  <img class="quote" src="/illustrations/quote.svg" alt="quote" />
  <div class="second">
    <div class="domecont">
      <div class="dome">
        <img class="domeimg" src="/illustrations/dom_base.svg" alt="dome" />
        <Anim />
      </div>
      <img class="korte" src="/illustrations/stonkskorte.svg" alt="sss" />
    </div>
    <div class="righttext">
      <p class="p1">
        A Credo egy szegedi alapítású integrált marketingügynökség, amelyet
        olyan tapasztalt szakértők hoztak létre és alkotnak, akik a szakma
        minden oldalát ismerik.
      </p>
      <p class="p2">
        Ezt a tudást most arra használjuk, hogy valós kommunikációs alapokra
        helyezett, kézzelfogható segítséget nyújtsunk ügyfeleinknek – a hazai
        KKV-szektortól a nagyvállalati partnerekig.
      </p>
      <p class="p3">
        Célkitűzésünk, hogy üzleti problémákra valós marketing alapokon fekvő
        szakmai segítséget biztosítsunk széles körű üzletágainkkal.
      </p>
      <br />
    </div>
  </div>
  <div class="third">
    <div class="puzzle">
      <Team />
    </div>
    <p class="righttext lasttext">
      A marketing olyan, mint egy sport: bár egy kimagasló játékos sokat számít,
      ha bajnokságot akarsz nyerni, egy összeszokott csapatra van szükséged –
      amit persze kiemelkedő egyéniségek alkotnak. <br />
      <br /> Akár most kezded a történeted, akár már hosszú évek óta formálod vállalkozásod,
      mi ugyanazzal a stratégiai élességgel és kreatív lendülettel állunk mögéd, mint
      marketing partner.
    </p>
  </div>
</div>

<Contact needGradient />

<script>
  const isScreenSmall = window.innerHeight < 800;
  // Trigger SVG animations when they come into view
  const svgs = document.querySelector("#Layer_3") as HTMLElement;

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("start");
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: isScreenSmall ? 0.1 : 0.6,
    },
  );

  observer.observe(svgs);

  // Trigger SVG animations when they come into view
  const svgs2 = document.querySelector("#Lay") as HTMLElement;

  const observer2 = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("start");
          observer2.unobserve(entry.target);
        }
      });
    },
    {
      threshold: isScreenSmall ? 0.3 : 0.6,
    },
  );

  observer2.observe(svgs2);
</script>

<style>
  .container {
    height: 100%;
    width: 100vw;
    display: relative;
    overflow: hidden;
  }
  .bg {
    background-image: url("/gradient__background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .aboutmain {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: start;
    margin-left: 20vw;
    margin-top: 150px;
    color: white;
    width: 500px;
    height: 100%;
  }
  h1 {
    font-family: "Kepler";
    font-size: var(--header-xl);
    letter-spacing: -5px;
    font-weight: 400;
    margin: 0;
    line-height: 100px;
  }
  .sub {
    font-family: "AktivGrotesk Light";
    font-size: 1.333rem;
    text-transform: uppercase;
    line-height: 35px;
  }
  .sub span {
    font-family: "AktivGrotesk Medium" !important;
  }
  .info {
    font-family: "AktivGrotesk Light";
    font-size: var(--text-lg);
    line-height: 35px;
  }
  .quote {
    position: absolute;
    right: 8%;
    top: 15%;
    font-family: "Kepler";
    /*  font-size: 2000pt; */
    width: 900px;
    line-height: 5px;
    margin: 0;
    font-weight: 400;
    margin: 0;
    z-index: 40;
    color: white;
    opacity: 0.5;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .second {
    height: 100%;
    width: 100vw;
    display: flex;
    position: relative;
    z-index: 40;
    margin-top: 200px;
    /*  margin-bottom: 100px; */
  }
  .third {
    height: 100%;
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    place-items: start;
    z-index: 40;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 100px;
  }
  .domecont {
    width: 50%;
  }
  .righttext {
    font-family: "AktivGrotesk Light";
    font-size: var(--text-lg);
    line-height: 35px;
    color: white;
    margin-top: 300px;

    width: 650px;
  }
  .korte {
    position: absolute;
    bottom: -60%;
    left: -22%;
    width: 75%;
    opacity: 0.8;
  }
  .puzzle {
    position: relative;
    width: 30%;
    height: 600px;
    padding-right: 250px;
    padding-top: 150px;
  }
  .dome {
    position: relative;
    height: 600px;
    padding-left: 300px;
    padding-top: 100px;
  }
  .domeimg {
    height: 700px;
  }
  .anim {
    position: absolute;
    left: 300px;
    top: 100px;
    height: 700px;
  }
  @media (max-width: 1600px) {
    .dome {
      padding-left: 200px;
    }
    .puzzle {
      padding-right: 150px;
      padding-top: 200px;
    }
  }
  @media (max-width: 1400px) {
    .aboutmain {
      margin-left: 15vw;
    }
    .dome {
      position: relative;
      height: 600px;
      padding-left: 100px;
      padding-top: 100px;
    }
    .puzzle {
      padding-right: 100px;
      padding-top: 250px;
    }
    .righttext {
      font-size: var(--text-md);
      line-height: 35px;
      margin-top: 300px;
      margin-left: 100px;
      width: 450px;
    }
  }
  @media (max-width: 1200px), (max-height: 800px) {
    .aboutmain {
      margin-left: 10vw;
    }
    .righttext {
      margin-top: 300px;
      margin-left: 50px;
      width: 450px;
    }
    .puzzle {
      padding-right: 100px;
      padding-top: 300px;
    }
    .third {
      gap: 50px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .second {
      margin-top: 50px;
    }
  }
  @media (max-width: 1000px) {
    .dome {
      height: 600px;
      padding-top: 280px;
    }
    .puzzle {
      padding-top: 350px;
    }
    .info {
      font-family: "AktivGrotesk Light";
      font-size: var(--text-md);
      line-height: 35px;
    }
    .domeimg {
      height: 500px;
    }
    .righttext {
      font-size: var(--text-base);
      line-height: 30px;
      width: 300px;
    }
  }
  @media (max-width: 768px) {
    .aboutmain {
      width: 80vw;
      margin-left: 0vw;
      padding: 0px 40px;
    }
    h1 {
      font-family: "Kepler";
      font-size: var(--header-md);
      letter-spacing: -5px;
      line-height: 100px;
    }
    .info {
      font-size: var(--text-base);
      line-height: 30px;
    }
    .second {
      margin-top: 100px;
      margin-bottom: 50px;
    }
    .sub {
      font-family: "AktivGrotesk Light";
      font-size: var(--text-md);
      text-transform: uppercase;
      line-height: 35px;
    }
    .quote {
      position: absolute;
      right: 0%;
      top: 15%;
      font-family: "Kepler";
      width: 500px;
      line-height: 5px;
      font-weight: 400;
    }
    .dome {
      height: 600px;
      padding-top: 200px;
      padding-left: 0vw;
    }
    .korte {
      display: none;
    }

    .domeimg {
      height: 700px;
      opacity: 0.2;
      transform: translateX(-10%);
    }
    .righttext {
      font-family: "AktivGrotesk Light";
      font-size: var(--text-base);
      line-height: 30px;
      color: white;
      margin-top: 0px;
      width: 100vw;
      margin-right: 40px;
    }
    .domecont {
      width: 0%;
    }
    .third {
      flex-direction: column-reverse;
      gap: 40px;
      padding: 0px 40px;
      width: 75vw;
      height: 500px;
      margin-top: 30vh;
      margin-bottom: 150px;
      justify-content: center;
      place-items: center;
    }
    .lasttext {
      margin: 0px !important;
      width: 100% !important;
      display: flex;
    }
    .puzzle {
      padding-top: 0px;
      width: 70%;
      padding-right: 0px;
    }
  }
</style>
