---
import "c:/Code/credo/src/components/main/hover/css/style2.css";
---

<body class="body loading">
  <main class="app">
    <div class="grid">
      <a
        aria-label="link-1"
        target="_blank"
        rel="noopener"
        draggable="false"
        class="link l-d2 w-inline-block"
      >
        <h1 class="h1">buckskin</h1>
        <div class="text">people, arizona</div>
        <img class="content__img" src="img/demo2/img1.jpg" alt="img1" />
      </a>
      <a
        aria-label="link-2"
        target="_blank"
        rel="noopener"
        draggable="false"
        class="link l-d2 w-inline-block"
      >
        <h1 class="h1">antelope</h1>
        <div class="text">arizona, usa</div>
        <img class="content__img" src="img/demo2/img2.jpg" alt="img2" />
      </a>
      <a
        aria-label="link-3"
        target="_blank"
        rel="noopener"
        draggable="false"
        class="link l-d2 w-inline-block"
      >
        <h1 class="h1 h-d2">pulpit rock</h1>
        <div class="text">fjords, norway</div>
        <img class="content__img" src="img/demo2/img3.jpg" alt="img3" />
      </a>
    </div>
  </main>

  <script>
    import imagesLoaded from "imagesloaded";
    import { TrailsEffect } from "./js/TrailsEffect.ts";

    const container = document.body;
    const itemsWrapper = document.querySelector(".grid") as HTMLElement;

    // Preload images
    const preloadImages = (): Promise<void> => {
      return new Promise((resolve) => {
        imagesLoaded(document.querySelectorAll("img"), () => resolve());
      });
    };

    // And then..
    preloadImages().then(() => {
      // Remove the loader
      document.body.classList.remove("loading");
      const effect = new TrailsEffect(container, itemsWrapper);
    });
  </script>
</body>
