---
export const prerender = true; // Makes this page static for better SEO and performance

import Header from "../components/header/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adatkezelési Szabályzat - Credo">
  <Header />
  <div class="bg"></div>
  <main class="privacy-policy">
    <div class="container">
      <h1>Adatkezelési szabályzat</h1>

      <p>
        Jelen adatkezelési szabályzat (továbbiakban: Szabályzat) a
        credodigital.hu címen elérhető weboldalhoz közvetlenül kapcsolódó
        szolgáltatásokra és adatkezelésekre terjed ki. A Szabályzatnak nincs
        időbeli hatálya. Ellenkező kikötés hiányában a Szabályzat hatálya nem
        terjed ki azon szolgáltatásokra és adatkezelésekre, melyek az oldalon
        hirdető harmadik személyek promócióihoz, nyereményjátékaihoz,
        szolgáltatásaihoz, egyéb kampányaihoz kapcsolódnak.
      </p>

      <section>
        <h2>A Szabályzat közzététele</h2>
        <p>Jelen Szabályzat hatályos 2026.01.01-től.</p>
      </section>

      <section>
        <h2>Adatkezelő megnevezése (továbbiakban: Szolgáltató)</h2>
        <ul>
          <li>Név: Mizser Róbert EV.</li>
          <li>Székhely, postacím: 6237 Kecel, Óvoda utca 9.</li>
          <li>E-mail: hello@credodigital.hu</li>
          <li>Honlap: https://credodigital.hu</li>
        </ul>
      </section>

      <section>
        <h2>Adatvédelemmel kapcsolatos hatályos jogszabályok:</h2>
        <ul>
          <li>
            2011. évi CXII. törvény – az információs önrendelkezési jogról és az
            információszabadságról (a továbbiakban: Infotv.)
          </li>
          <li>
            2001. évi CVIII. törvény – az elektronikus kereskedelmi
            szolgáltatások, valamint az információs társadalommal összefüggő
            szolgáltatások egyes kérdéseiről (főképp a 13/A. §-a)
          </li>
          <li>
            2008. évi XLVII. törvény – a fogyasztókkal szembeni tisztességtelen
            kereskedelmi gyakorlat tilalmáról
          </li>
          <li>
            2008. évi XLVIII. törvény – a gazdasági reklámtevékenység alapvető
            feltételeiről és egyes korlátairól (különösen a 6.§-a)
          </li>
          <li>2005. évi XC. törvény az elektronikus információszabadságról</li>
          <li>
            2003. évi C. törvény az elektronikus hírközlésről (kifejezetten a
            155.§-a)
          </li>
          <li>
            16/2011. sz. vélemény a viselkedésalapú online reklám bevált
            gyakorlatára vonatkozó EASA/IAB-ajánlásról
          </li>
        </ul>

        <p>
          Résztvevő lehet bárki, aki a jelen szerződési feltételeket elfogadja,
          azokat magára nézve kötelezőnek ismeri el. A www.credodigital.hu
          weboldalról történő megrendelés esetén szükség van személyes adatok
          megadására. A honlapon folytatott adatkezelés célja a Résztvevők
          azonosítása, nyilvántartása, a szolgáltatás teljesítése, kedvezmények
          nyújtása, a vásárlás és fizetés dokumentálása, számviteli
          kötelezettség teljesítése, kapcsolattartás, a Résztvevői szokások
          elemzése, gazdasági reklámot is tartalmazó e-mail hírlevelek küldése
          az érdeklődők részére, tájékoztatás az aktuális információkról,
          ajánlatokról.
        </p>

        <p>
          A Résztvevő kötelezően megadja nevét, telefonszámát, e-mail címét, a
          megkeresés tárgyát, törzsszövegét és számla igény esetén számlázási
          adatait, amelyek a megrendeléshez nélkülözhetetlen adatok. A Résztvevő
          által megadott adatok egyikét sem láthatja más Résztvevő.
        </p>

        <p>
          A Résztvevő köteles az általa a jelentkezéskor megadott adatok és
          információk helyességéről meggyőződni, az ebben történt változást a
          megbízás megkezdéséig jelezni a Szolgáltató felé, mert a hibás
          adatokból eredő károkért a Szolgáltató felelősséget nem tud vállalni.
          A Résztvevőnek jogában áll, hogy adatait helyesbítse, a tévesen
          szereplő, és általa nem helyesbíthető adatok helyesbítését a
          Szolgáltatótól kérje. A Résztvevő tájékoztatást kérhet adatai
          kezeléséről.
        </p>

        <p>
          Az adatkezelés jogalapja minden esetben az érintett hozzájárulása. A
          Szolgáltató kijelenti, hogy a jelentkezések során megadott
          információkat és adatokat kizárólag saját, belsős nyomkövetési és
          adminisztrációs célokra használja, azt más cégnek, harmadik személynek
          – kivéve, ha arra törvény vagy jogszabály nem kötelezi – azt nem adja
          ki, és amennyiben erre külön felhatalmazást a jelentkező a jelentkezés
          során nem adott, marketing célokra nem használja.
        </p>

        <p>
          Bizonyos esetekben, elsősorban az adatlapon kötelezően megadott adatok
          tekintetében, az adatkezelés az oldal szolgáltatásai igénybevételének
          a feltétele. Amennyiben a Résztvevő ehhez a vásárlás során
          hozzájárult, a Szolgáltató jogosult arra, hogy a Résztvevőnek a
          megadott e-mail címére a vásárlással összefüggő promóciós célú
          elektronikus levelet vagy reklámot küldjön. Amennyiben a Résztvevő
          adatai törlését e-mailben kéri, az adatokat a szolgáltató rendszere 3
          (három) munkanapon belül törli.
        </p>

        <p>
          A kezelt adatokat a Szolgáltató csak az érintett kifejezett
          hozzájárulása, vagy törvény rendelkezése alapján teszi hozzáférhetővé
          harmadik személyek számára. A Szolgáltató fenntartja magának a jogot
          arra, hogy egyes technikai műveletek céljára adatfeldolgozót vegyen
          igénybe.
        </p>

        <p>
          A Szolgáltató minden tőle elvárható, szükséges intézkedést megtesz az
          adatok biztonsága érdekében, gondoskodik azok megfelelő szintű
          védelméről különösen a jogosulatlan hozzáférés, megváltoztatás,
          továbbítás, nyilvánosságra hozatal, törlés vagy megsemmisítés,
          valamint a véletlen megsemmisülés és sérülés ellen.
        </p>

        <p>
          A Résztvevő nem folytathat olyan tevékenységet, amely az oldal
          informatikai biztonságát veszélyezteti, vagy valamely termék,
          szolgáltatás reklámozására irányul.
        </p>

        <p>
          A Résztvevők adatkezeléssel, az oldal használatával kapcsolatos
          panaszaikkal, kifogásaikkal fordulhatnak közvetlenül a Szolgáltatóhoz,
          aki minden tőle telhetőt megtesz az esetleges jogsértések
          megszüntetése és orvoslása érdekében.
        </p>

        <p>
          A Szolgáltató törekszik a Résztvevőkkel való együttműködésre, a viták
          békés úton történő rendezésére.
        </p>

        <p>
          A Szolgáltató nem szavatolja a szolgáltatás szünetmentességét, nem
          tehető felelőssé továbbá a szolgáltatás felfüggesztéséért vagy
          megszüntetéséért. A Szolgáltató az oldal működése során előálló
          esetleges zavarok, működési problémák elhárítására törekszik, azokért
          azonban felelőssé nem tehető. A Szolgáltató a Résztvevők
          magatartásáért felelősséget nem vállal.
        </p>

        <p>
          A felelősség jelen pont szerinti kizárása nem érinti a Szolgáltató
          vásárlásból adódó felelősségét, mert az polgári jogon, fogyasztók
          védelmére vonatkozó szabályokon alapul.
        </p>

        <p>
          Amennyiben a Résztvevő a Szolgáltató szolgáltatását igénybe véve a
          kereskedelmi oldalon keresztül vásárol, polgári jogi jogviszony jön
          létre. Ebben az esetben az adatok kezelésére a polgári jog szabályai –
          így különösen a szavatosságra, az igények érvényesítésére vonatkozó
          szabályok – is irányadók.
        </p>

        <p>
          A Résztvevő a személyes adatok védelméről és a közérdekű adatok
          nyilvánosságáról szóló 1992. évi LXIII. törvény, valamint a Polgári
          Törvénykönyv alapján adatkezeléssel kapcsolatos jogait bíróság előtt
          érvényesítheti, valamint panaszával fordulhat a Magyarország
          adatvédelmi biztosához.
        </p>

        <p>
          A Szolgáltató fenntartja magának a jogot jelen tájékoztató bármikori
          megváltoztatására, az esetleges változásokról idóben írásos értesítést
          küld.
        </p>
      </section>

      <section>
        <h2>Tárhelyszolgáltató:</h2>
        <ul>
          <li>Adatkezelő: BlazeArts Kft.</li>
          <li>Webhely: www.forpsi.hu</li>
          <li>Cím: 1096 Budapest, Thaly Kálmán utca 39.</li>
          <li>
            Adatfeldolgozási tájékoztató: https://www.forpsi.hu/agreements
          </li>
          <li>Adatkör: Szerződési feltételek és szabályzatok</li>
        </ul>
      </section>

      <section>
        <h2>Hírlevélszoftver szolgáltató</h2>
        <p>
          Hírlevelünk a www.klaviyo.com szolgáltatásaival tud megvalósulni.
          Ezért fontos, hogy a szolgáltató adatvédelmi tájékoztatóját is
          megismerjék: <a
            href="https://privacy.klaviyo.com/policies/en"
            target="_blank"
            rel="noopener noreferrer">https://privacy.klaviyo.com/policies/en</a
          >
        </p>

        <p>
          A Klaviyo elkötelezett a GDPR betartása mellett és ezért több
          gyakorlatukat és adatfeldolgozási szerződésüket a GDPR
          követelményeinek való megfelelés érdekében frissítették.
        </p>

        <ul>
          <li>Adatkezelő: Klaviyo, Inc.</li>
          <li>
            Webhely: <a
              href="https://www.klaviyo.com"
              target="_blank"
              rel="noopener noreferrer">https://www.klaviyo.com</a
            >
          </li>
          <li>Cím: 125 Summer Street, Floor 6, Boston, MA 02111, USA</li>
          <li>Adatfeldolgozási technológia: információs rendszerrel</li>
          <li>Adatkör: Ügyfelek használati adatai, neve, email címe</li>
          <li>
            Jogalap (GDPR hivatkozás):
            https://www.klaviyo.com/legal/data-processing-agreement
          </li>
        </ul>
      </section>

      <section>
        <h2>Feliratkozási feltételek</h2>
        <p>
          A www.credodigital.hu weboldalon kezdeményezett feliratkozás jelen
          feliratkozási feltételek kifejezett elfogadását jelenti, azaz az
          ingyenes tartalmak letöltésével és/vagy a hírlevél feliratkozással az
          érintett kifejezett előzetes hozzájárulását adja, hogy a
          www.credodigital.hu weboldaltól elektronikus levelet fogadjon, amelyek
          a termék/szolgáltatás felhasználása vonatkozó információkat,
          segédleteket, véleménykéréseket, a weboldalak tartalmára vonatkozó
          értesítéseket, és bizonyos esetekben az üzemeltetőnek és alkalmanként
          üzleti partnereinek termékeit, szolgáltatásait reklámozó hirdetést is
          tartalmazhatnak. A nem létező e-mail címmel, a hírlevél gyűjtő típusú
          e-mail címmel, valótlan adatokkal kezdeményezett feliratkozást
          figyelmeztetés nélkül töröljük az adatbázisból és kizárjuk a
          weboldalak hírlevél olvasóinak köréből.
        </p>

        <h3>A kezelt adatok köre és az adatkezelés célja</h3>
        <p>
          Kezelt adatok köre: Az érintett által megadott név és e-mail cím. A
          hírlevél szoftver feliratkozáskor még az IP címet és a feliratkozás
          időpontját rögzíti. Adatkezelés célja: A feliratkozáskor megadott
          e-mail címet hírlevél küldési céllal kezeljük.
        </p>

        <h3>Az adatkezelés jogalapja az érintett hozzájárulása</h3>
        <p>
          A feliratkozás önkéntes. A feliratkozáskor kapott személyes adatokat
          bizalmasan kezeljük, harmadik személynek semmilyen körülmények között
          nem adjuk át, a feliratkozás bármikor megszüntethető bármelyik
          kiküldött elektronikus levélben lévő leiratkozási linkre való
          kattintással.
        </p>

        <h3>Az adatkezelés időtartama</h3>
        <p>
          Az érintett önkéntes adatmegadásától az érintett önkéntes
          leiratkozásáig. Az érintett a hozzájárulását bármikor, bármelyik
          kiküldött hírlevél alján található „Leiratkozás" linkre való
          kattintással automatikusan visszavonhatja.
        </p>
      </section>

      <section>
        <h2>Az érintett adatkezeléssel kapcsolatos jogai</h2>

        <h3>A tájékoztatás kéréshez, helyesbítéshez, törléshez való jog</h3>
        <p>
          Minden kiküldött levélben található adatmódosítás és leiratkozás link.
          Az adatmódosító linkre kattintva a felhasználó külön kérelem nélkül is
          tájékoztatást kaphat a róla nyilvántartott személyes adatokról,
          melyeket külön kérelem nélkül, önállóan módosíthat, helyesbíthet.
          Minden kiküldött levélben található leiratkozás linkre kattintva a
          felhasználó külön kérelem nélkül, önállóan törölheti a róla
          nyilvántartott személyes adatokat. A tájékoztatást, helyesbítést,
          törlést a hello@credodigital.hu e-mail címen is kérelmezheti az
          érintett, adatkezelő a kérelmét legfeljebb 30 (harminc) napon belül
          teljesíti.
        </p>

        <h3>A tiltakozáshoz való jog</h3>
        <p>
          A hello@credodigital.hu e-mail címen tiltakozhat az adatkezelés ellen
          az érintett.
        </p>

        <h3>Az adatkezeléssel kapcsolatos jogérvényesítési lehetőség</h3>
        <p>
          Panasztétel az adatkezelőnél: hello@credodigital.hu e-mail címre
          küldött panaszlevélben az érintett írja le, ha úgy gondolja visszaélés
          történt a credodigital.hu weboldalaon megadott adataival. Adatkezelő a
          panaszt legfeljebb 30 (harminc) napon belül kivizsgálja. Ha ezzel az
          érintett nem ért egyet, joga van a a Nemzeti Adatvédelmi és
          Információs Hatósághoz fordulni.
        </p>

        <ul>
          <li>Név: Nemzeti Adatvédelmi és Információs Hatóság</li>
          <li>Székhely: 1125 Budapest Szilágyi Erzsébet fasor 22/c.</li>
          <li>Postacím: 1530 Budapest, Pf.: 5.</li>
          <li>Telefon: +36 (1) 391-1400</li>
          <li>Fax: +36 (1) 391-1410</li>
          <li>Honlap: https://naih.hu</li>
        </ul>
      </section>

      <section>
        <h2>Cookie-k (Sütik) kezelése</h2>
        <p>
          A sütik feladata információkat gyűjteni a látogatókról és
          eszközeikről; megjegyzik a látogatók egyéni beállításait, amelyek
          felhasználásra kerül(het)nek pl. online kapcsolatfelvételkor, így nem
          kell újra begépelni őket; megkönnyítik a weboldal használatát;
          minőségi felhasználói élményt biztosítanak. A testre szabott
          kiszolgálás érdekében a felhasználó számítógépén kis adatcsomagot, ún.
          sütit (cookie) helyez el és a későbbi látogatás során olvas vissza. Ha
          a böngésző visszaküld egy korábban elmentett sütit, a sütit kezelő
          szolgáltatónak lehetősége van összekapcsolni a felhasználó aktuális
          látogatását a korábbiakkal, de kizárólag a saját tartalma
          tekintetében.
        </p>

        <p>
          A Weboldal ún. remarketing címkéket tartalmaz remarketing lista
          építése céljából, így meglátogatásuk után külső szolgáltatók, közöttük
          a Google, internetes webhelyeken hirdetéseket jeleníthetnek meg, ezek
          az ún. érdeklődés alapú hirdetések. A remarketing listák nem
          alkalmasak személyazonosításra, a látogató személyes adatait nem
          tartalmazzák, kizárólag a böngésző szoftvert azonosítják. A
          remarketing címkékhez a Google cookie-kat használ. A Weboldalak ún.
          konverziókövetést használnak a Google Adwords hirdetések
          hatékonyságának mérésére. A konverziókövető cookie csak korlátozott
          ideig létezik, elfogadása nem kötelező, semmilyen személyes
          információt nem rögzít és nem használ. Látogató letilthatja a Google
          cookie-használatát a Google Hirdetési beállításaiban:
          https://www.google.com/settings/ads
        </p>

        <p>
          A www.credodigital.hu weboldalon a Meta (Facebook, Instagram) és
          LinkedIn közösségi média oldalak gombjai elérhetőek. Ezek a gombok
          szintén helyeznek el cookie-kat a látogató böngészőjében. A Facebook
          adatkezelési irányelveiről a https://www.facebook.com/about/privacy
          weboldalon lehet részletesen tájékozódni. A Weboldal a Facebook ún.
          konverziókövető pixelét használja a Facebook hirdetések
          hatékonyságának mérésére. A konverziókövetés során a látogató
          személyes adatai nem kerülnek rögzítésre. A Google és Facebook
          cookie-k tiltása nem befolyásolja a www.credodigital.hu weboldal
          használatát.
        </p>

        <h3>Feltétlenül szükséges, munkamenet (session) cookie-k</h3>
        <p>
          Ezen sütik célja, hogy a látogatók maradéktalanul és zökkenőmentesen
          böngészhessék a credodigital.hu weboldalát, használhassák annak
          funkcióit, és az ott elérhető szolgáltatásokat. Az ilyen típusú sütik
          érvényességi ideje a munkamenet (böngészés) befejezéséig tart, a
          böngésző bezárásával a sütik e fajtája automatikusan törlődik a
          számítógépről, illetve a böngészésre használt más eszközről.
        </p>

        <h3>Harmadik fél által elhelyezett cookie-k (analitika)</h3>
        <p>
          Az anonim látogatóazonosító („cookie", „süti") egy olyan egyedi –
          azonosításra, illetve profil-információk tárolására alkalmas –
          jelsorozat, melyet a webszerver a látogató számítógépén helyez el. Az
          ilyen jelsorozat önmagában semmilyen módon nem képes a látogatót
          azonosítani, csak a látogató gépének felismerésére alkalmas. Nem
          tartalmaz nevet, e-mail címet vagy bármilyen más személyes
          információt. A www.credodigital.hu weboldalán alkalmazza a Google
          Analytics mint harmadik fél sütijeit is. A Google Analytics
          statisztikai célú szolgáltatás használatával a www.credodigital.hu
          információkat gyűjt azzal kapcsolatban, hogy a látogatók hogyan
          használják a weboldalt. A Weboldal böngészéséhez nem szükséges a
          cookie-k elfogadása, de a vásárlás (belépés) funkció nem működik, ha a
          cookie-k elfogadása a böngészőben tiltva van. Nemcsak a Weboldal küld
          a látogató böngészőjének cookie-t, de külső, független auditáló
          szolgáltatás (Google Analytics) is méri az oldal látogatását ilyen
          eszközzel. A mérési adatok kezeléséről a
          https://www.google.com/intl/hu/analytics weboldalon lehet részletesen
          tájékozódni. Az adatot a honlap fejlesztésének és a felhasználói
          élmény javításának céljával használja fel. Ezen sütik szintén
          lejáratukig a látogató számítógépén vagy böngészésre használt más
          eszközén, annak böngészőjében maradnak, illetve amíg a látogató nem
          törli őket.
        </p>

        <p>
          Az adatok megadása – a promóciós cél kivételével – a szerződés
          létrejöttéhez és a szolgáltatás nyújtásához szükséges; azok megadása
          nélkül a szolgáltatás nyújtása nem biztosítható.
        </p>

        <p>
          Az adatok kezelésének időtartama: jogi kötelezettség teljesítése
          jogalappal kezelt adatok esetén a kötelezettség alapjául szolgáló
          jogszabályban meghatározott időtartam. A szerződés teljesítésével
          összefüggő adatkezelések esetén (beleértve a jogos érdeken alapuló
          adatkezelést) az adatokat a szerződés megszűnése után az általános
          polgári jogi elévülési időtartam elteltéig tároljuk. Hozzájárulás
          alapján történő adatkezelés a hozzájárulás visszavonásáig, de
          legkésőbb a szerződéses adatkezelés megszűnéséig tart (amelyik előbb
          következik be).
        </p>

        <p>
          A jogos érdeken alapuló adatkezelés jogalapja az adatkezelő azon jogos
          érdeke, hogy a szolgáltatás minőségének javítása és a további termékek
          fejlesztésének érdekében rendelkezzen a szolgáltatás tényleges
          használatával kapcsolatos információkkal.
        </p>

        <p>
          Az érintetteknek (ügyfeleknek) joga van a rájuk vonatkozó adatokhoz
          hozzáférni, az esetlegesen hibásan tárol adatok helyesbítését kérni. a
          megadott hozzájárulást visszavonni (amely nem érinti a visszavonás
          előtti adatkezelés jogszerűségét). A hozzájárulás visszavonását az
          ügyfél kérheti az ügyfélszolgálati emailcímen.
        </p>

        <p>
          Joga van továbbá az érintettnek (ügyfélnek) kérni mindazon rá
          vonatkozó személyes adatok törlését (vagy törlés nélküli korlátozott
          kezelését), amelyek esetében az adatkezelési célja teljesült vagy
          jogalapja megszűnt. Ugyancsak joga van az ügyfeleknek az
          adatkezeléssel szemben tiltakozni.
        </p>

        <p>
          Az adatkezelés során profilozás nem történik. Az adatok tárolása
          mindvégig az EU-n belül történik, kivéve a Klaviyo esetén akik az EU
          és Egyesült Államok közötti aktív Privacy Shield tanúsítvánnyal
          rendelkeznek, így GDPR kompatibilis a tevékenység: <a
            href="https://www.dataprivacyframework.gov/Program-Overview"
            target="_blank"
            rel="noopener noreferrer"
            >https://www.dataprivacyframework.gov/Program-Overview</a
          >
        </p>
      </section>

      <div class="cookie-settings-wrapper">
        <button
          type="button"
          class="cookie-settings-btn"
          data-cc="show-preferencesModal"
        >
          Süti beállítások módosítása
        </button>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    font-family: "AktivGrotesk Light" !important;
  }
  a {
    text-decoration: underline;
    color: white;
  }
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    background: #2b2a33;
    background: radial-gradient(
      circle,
      rgb(36, 36, 43) 0%,
      rgba(0, 0, 0, 1) 55%
    );
    z-index: 20;
    width: 100vw;
    height: 100vh;
  }
  .privacy-policy {
    background: transparent;
    color: #ffffff;
    min-height: 100vh;
    padding: 4rem 3rem;
    position: relative;
    z-index: 30;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.8;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 700;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  section {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  strong {
    font-weight: 600;
    color: #ffffff;
  }

  .cookie-settings-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .cookie-settings-btn {
    background: #dbe120;
    color: black;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-family: "AktivGrotesk Medium";
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .cookie-settings-btn:hover {
    transform: scale(1.03);
  }

  .cookie-settings-btn:active {
    transform: translateY(0);
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .privacy-policy {
      padding: 3rem 3rem;
      margin-top: 50px;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1rem;
    }

    p,
    li {
      font-size: 1rem;
    }

    ul {
      margin-left: 1.5rem;
    }

    .cookie-settings-btn {
      padding: 0.875rem 1.5rem;
      font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    .privacy-policy {
      padding: 2rem 1.5rem;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.1rem;
      margin-top: 1.5rem;
    }

    p,
    li {
      font-size: 0.8rem;
    }

    ul {
      margin-left: 1rem;
    }

    .cookie-settings-btn {
      padding: 0.75rem 1.25rem;
      font-size: 0.9rem;
    }
  }
</style>
