---

---

<nav>
  <img src="/logo.png" alt="" />
  <ul>
    <li>ÜZLETÁGAK</li>
    <li>PROJEKTEK</li>
    <li>RÓLUNK</li>
    <li>KAPCSOLAT</li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    place-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    color: white;
    font-size: 14pt;
    margin-top: 1rem;
    z-index: 40;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
  }
  img {
    width: 100px;
    margin-left: 4rem;
    margin-bottom: 5px;
  }
  li {
    font-family: "AktivGrotesk Light";
  }
</style>
