<div class="container" id="start">
  <img src="/landing.gif" alt="We are credo" class="gif" />
</div>

<div class="footer">
  <a class="hello2" href="mailto:hello@credodigital.hu">hello@credodigital.hu</a
  >
  <div class="icons">
    <a
      href="https://www.linkedin.com/company/credo-digital-agency"
      target="_blank"
      ><img class="icon" src="/icons/linkedin.svg" alt="linkedin" /></a
    >
    <a
      href="https://www.facebook.com/people/Credo-Digital/61577578687092/#"
      target="_blank"
      ><img class="icon" src="/icons/facebook.svg" alt="facebook" /></a
    >
    <a href="https://www.instagram.com/weare_credo/" target="_blank"
      ><img class="icon" src="/icons/instagram.svg" alt="instagram" /></a
    >
  </div>
</div>

<style>
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "AktivGrotesk Light";
    position: relative;
    z-index: 30;
  }
  .gif {
    width: 70%;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
    max-width: 85rem;
  }
  .gif.fade-out {
    opacity: 0;
  }
  .icons {
    display: flex;
    flex-direction: column;
    gap: var(--10px);
    margin-right: 3rem;
    margin-bottom: 1rem;
    z-index: 50;
  }
  .icon {
    width: 1.5rem;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    place-items: end;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    /*    opacity: 0; */
    color: white;
    font-size: var(--text-lg);
    margin-bottom: 2rem;
    z-index: 45;
    font-family: "AktivGrotesk Light";
  }
  .hello2 {
    text-decoration: none;
    color: white;
    transition: all;
    transition-duration: 400ms;
    margin-left: 4rem;
    margin-bottom: 2rem;
    line-height: 0;
    z-index: 20;
    display: flex;
    justify-content: start;
    place-items: start;
  }
  @media (max-height: 500px) {
    .hello2 {
      font-size: var(--text-md);
    }
    .icon {
      width: 1.3rem;
    }
    .footer {
      margin-bottom: 1rem;
    }
  }
  @media (max-width: 768px) {
    .container {
      height: 100vh;
    }
    .gif {
      width: 90%;
    }
    p {
      display: none;
    }
    .icons {
      display: none;
    }
    .hello2 {
      display: none;
    }
  }
</style>

<script>
  const gif = document.querySelector(".gif") as HTMLImageElement;

  if (gif) {
    // Set different threshold based on viewport width
    const threshold = window.innerWidth <= 800 ? 0.5 : 1;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            gif.classList.remove("fade-out");
            // Force GIF to restart by reloading it with a timestamp to bypass cache
            const baseSrc = gif.src.split("?")[0];
            gif.src = baseSrc + "?t=" + new Date().getTime();
          } else {
            gif.classList.add("fade-out");
          }
        });
      },
      {
        threshold: threshold,
      },
    );

    observer.observe(gif);
  }
</script>
