body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main--container {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  pointer-events: none;
}
