<div class="container"></div>

<style>
  .container {
    height: 1000px;
    width: 100vw;
    background: #2b2a33;
    padding: 200px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: start;
    font-family: "AktivGrotesk Light";
    color: white;
    position: relative;
    z-index: 20;
    padding-left: 15%;
    padding-bottom: 0%;
  }
  .first {
    font-family: "AktivGrotesk Semibold";
    font-size: 100pt;
    letter-spacing: -10px;
    line-height: 40pt;
    margin: 0;
  }
  .second {
    font-family: "Kepler";
    font-size: 150pt;
    font-weight: 400;
    letter-spacing: -10px;
    margin: 0;
  }
  p {
    margin-top: 0px;
    margin-left: 0rem;
    line-height: 30px;
    width: 35vw;
  }
</style>
