---
export const prerender = true; // Makes this page static for better SEO and performance
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/credo_favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Credo Digital</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #2b2a33;
  }
  /*   * {
    overflow-x: hidden;
  } */

  @font-face {
    font-family: "AktivGrotesk Regular";
    src: url("/fonts/AktivGroteskEx_Rg.ttf");
  }
  @font-face {
    font-family: "AktivGrotesk Light";
    src: url("/fonts/AktivGroteskEx_Lt.ttf");
  }
  @font-face {
    font-family: "AktivGrotesk Semibold";
    src: url("/fonts/AktivGroteskEx_SBd.ttf");
  }
  @font-face {
    font-family: "AktivGrotesk Medium";
    src: url("/fonts/AktivGroteskEx_Md.ttf");
  }
  @font-face {
    font-family: "AktivGrotesk Bold";
    src: url("/fonts/AktivGroteskEx_Bd.ttf");
  }
  @font-face {
    font-family: "Kepler";
    src: url("/fonts/Kepler.otf");
  }
</style>
