---
export const prerender = true; // Makes this page static for better SEO and performance
import CookieConsent from "../components/CookieConsent.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/credo_favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Credo Digital</title>
  </head>
  <body>
    <slot />

    <CookieConsent />
  </body>
</html>

<style is:global>
  html {
    --text-sm: 0.667rem;
    --text-base: 0.833rem;
    --text-md: 1rem;
    --text-lg: 1.167rem;
    --10px: 0.625rem;
    --12px: 0.75rem;
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    --30px: 1.875rem;
    --100: 6.25rem;
    --200: 12.5rem;
    --300: 18.75rem;
    --400: 25rem;
    --500: 31.25rem;
    --header-2xl: 10rem;
    --header-xl: 6.667rem;
    --header-lg: 5.417rem;
    --header-md: 4.167rem;
    --header-sm: 2.917rem;
    --header-xs: 1.667rem;
  }
  /* h1 {
  font-size: var(--21px);
} */
  html,
  body {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #151518;
  }

  /*  *,
  *::before,
  *::after {
    box-sizing: border-box;
  } */

  @font-face {
    font-family: "AktivGrotesk Regular";
    src: url("/fonts/AktivGroteskEx_Rg.ttf");
  }
  @font-face {
    font-family: "AktivGrotesk Light";
    src: url("/fonts/AktivGroteskEx_Lt.ttf");
  }
  @font-face {
    font-family: "AktivGrotesk Semibold";
    src: url("/fonts/AktivGroteskEx_SBd.ttf");
  }
  @font-face {
    font-family: "AktivGrotesk Medium";
    src: url("/fonts/AktivGroteskEx_Md.ttf");
  }
  @font-face {
    font-family: "AktivGrotesk Bold";
    src: url("/fonts/AktivGroteskEx_Bd.ttf");
  }
  @font-face {
    font-family: "Kepler";
    src: url("/fonts/Kepler.otf");
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  p {
    user-select: text;
  }
</style>
